USE [GT]
GO

CREATE TYPE [dbo].[ID_List] AS TABLE(
	[ID] [int] NOT NULL
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetLasDirectionID]
(
)
RETURNS INT
AS
BEGIN
	DECLARE @R INT

	SELECT @R = MAX(DirectionID) FROM Direction

	RETURN ISNULL(@R,0)

END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetLasDirectionOperatorCombinationID]
(
)
RETURNS INT
AS
BEGIN
	DECLARE @R INT

	SELECT @R = MAX(ID) FROM DirectionOperatorCombination

	RETURN ISNULL(@R,0)

END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetTourOperatorID]
(
)
RETURNS INT
AS
BEGIN
	DECLARE @R INT

	SELECT @R = MAX(TourOperatorID) FROM TourOperator

	RETURN ISNULL(@R,0)

END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[DirectionID] [int] IDENTITY(1,1) NOT NULL,
	[DirectionName] [nvarchar](255) NOT NULL,
	[SinlgeDirection] [bit] NOT NULL,
	[VisaDetails] [nvarchar](512) NOT NULL,
 CONSTRAINT [PK_Direction] PRIMARY KEY CLUSTERED 
(
	[DirectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDirection]
(	
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DirectionID
		,DirectionName
		,SinlgeDirection
		,VisaDetails
	FROM Direction
)

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourOperator](
	[TourOperatorID] [int] IDENTITY(1,1) NOT NULL,
	[OperatorName] [nvarchar](255) NOT NULL,
	[Director] [nvarchar](50) NULL,
	[OperatorLocation] [nvarchar](255) NOT NULL,
	[RequestByURL] [bit] NOT NULL,
	[RequestURL] [nvarchar](255) NULL,
	[website] [nvarchar](50) NULL,
	[Tel] [varchar](50) NULL,
	[skype] [nvarchar](50) NULL,
	[facebook] [nvarchar](50) NULL,
 CONSTRAINT [PK_TourOperator] PRIMARY KEY CLUSTERED 
(
	[TourOperatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetTourOperator]
(	

)
RETURNS TABLE 
AS
RETURN 
(
SELECT TourOperatorID
      ,OperatorName
      ,ISNULL(Director,N'') AS Director
      ,OperatorLocation
      ,RequestByURL
      ,ISNULL(RequestURL,N'') AS RequestURL
      ,ISNULL(website,N'') AS website
      ,ISNULL(Tel,'') AS Tel
      ,ISNULL(skype,N'') AS skype
      ,ISNULL(facebook,N'') AS facebook
  FROM TourOperator
)

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectionOperatorCombination](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DirectionID] [int] NOT NULL,
	[OperatorID] [int] NOT NULL,
 CONSTRAINT [PK_DirectionOperatorCombination] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDirectionOperatorCombination]
(	
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DOC.ID
		,DOC.DirectionID
		,DOC.OperatorID
		,D.DirectionName
		,T.OperatorName
	FROM DirectionOperatorCombination DOC
	INNER JOIN Direction D ON D.DirectionID = DOC.DirectionID
	INNER JOIN TourOperator T ON T.TourOperatorID = DOC.OperatorID
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DirectionAdd]
	@DirectionName NVARCHAR(255),@SinlgeDirection BIT,@VisaDetails NVARCHAR(512)
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	DECLARE @msg NVARCHAR(1024)
	BEGIN TRY
		BEGIN TRANSACTION
			IF EXISTS(SELECT * FROM Direction WHERE DirectionName = @DirectionName AND SinlgeDirection = @SinlgeDirection)
				BEGIN
					SET @msg = N'Նման գրանցում գոյություն ունի';
					THROW 50001, @msg,1;
				END

				INSERT INTO Direction (DirectionName,SinlgeDirection,VisaDetails) VALUES(@DirectionName,@SinlgeDirection,@VisaDetails)
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH
END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DirectionDelete]
	@DirectionID INT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRY
		BEGIN TRANSACTION
			DELETE FROM Direction WHERE DirectionID = @DirectionID
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH

END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DirectionEdit]
	@DirectionID INT,@DirectionName NVARCHAR(255),@SinlgeDirection BIT,@VisaDetails NVARCHAR(512)
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	DECLARE @msg NVARCHAR(1024)
	BEGIN TRY
		BEGIN TRANSACTION
			IF EXISTS(SELECT * FROM Direction WHERE DirectionName = @DirectionName AND SinlgeDirection = @SinlgeDirection AND DirectionID <> @DirectionID)
				BEGIN
					SET @msg = N'Նման գրանցում գոյություն ունի';
					THROW 50001, @msg,1;
				END

				UPDATE Direction
				SET DirectionName = @DirectionName,SinlgeDirection = @SinlgeDirection,VisaDetails = @VisaDetails
				WHERE DirectionID = @DirectionID
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH
END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DirectionOperatorCombinationAdd]
	@DirectionID INT, @OperatorID ID_List READONLY
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	DECLARE @msg NVARCHAR(1024)
	BEGIN TRY
		BEGIN TRANSACTION
			IF EXISTS(SELECT * FROM DirectionOperatorCombination WHERE DirectionID = @DirectionID AND OperatorID IN (SELECT ID FROM @OperatorID))
				BEGIN
					SET @msg = N'Նման գրանցում գոյություն ունի';
					THROW 50001, @msg,1;
				END

				INSERT INTO DirectionOperatorCombination
				SELECT @DirectionID, ID FROM @OperatorID
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DirectionOperatorCombinationDelete]
	@ID INT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRY
		BEGIN TRANSACTION
			DELETE FROM DirectionOperatorCombination WHERE ID = @ID
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH

END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DirectionOperatorCombinationEdit]
	@DirectionID INT, @OperatorID ID_List READONLY
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	DECLARE @msg NVARCHAR(1024)
	BEGIN TRY
		BEGIN TRANSACTION
			--IF EXISTS(SELECT * FROM DirectionOperatorCombination WHERE DirectionID = @DirectionID AND OperatorID IN (SELECT ID FROM @OperatorID WHERE DirectionID <> @DirectionID))
			--	BEGIN
			--		SET @msg = N'Նման գրանցում գոյություն ունի';
			--		THROW 50001, @msg,1;
			--	END

			MERGE DirectionOperatorCombination AS TARGET
			USING @OperatorID AS SOURCE ON (TARGET.OperatorID = SOURCE.ID AND TARGET.DirectionID = @DirectionID)
			WHEN NOT MATCHED BY TARGET THEN INSERT (DirectionID,OperatorID) VALUES (@DirectionID,SOURCE.ID)
			WHEN NOT MATCHED BY SOURCE AND TARGET.DirectionID = @DirectionID THEN DELETE;

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TourOperatorAdd]
	@OperatorName NVARCHAR(255),@Director NVARCHAR(50),@OperatorLocation NVARCHAR(255),@RequestByURL BIT,@RequestURL NVARCHAR(255),@website NVARCHAR(50),@Tel VARCHAR(50),@skype NVARCHAR(50),@facebook NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO TourOperator (OperatorName,Director,OperatorLocation,RequestByURL,RequestURL,website,Tel,skype,facebook)
				VALUES (@OperatorName,@Director,@OperatorLocation,@RequestByURL,@RequestURL,@website,@Tel,@skype,@facebook)
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH
END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TourOperatorDelete]
	@TourOperatorID INT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRY
		BEGIN TRANSACTION
			DELETE FROM TourOperator WHERE TourOperatorID = @TourOperatorID
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TourOperatorEdit]
	@ID INT,@OperatorName NVARCHAR(255),@Director NVARCHAR(50),@OperatorLocation NVARCHAR(255),@RequestByURL BIT,@RequestURL NVARCHAR(255),@website NVARCHAR(50),@Tel VARCHAR(50),@skype NVARCHAR(50),@facebook NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE TourOperator
			SET OperatorName = @OperatorName
				,Director = @Director
				,OperatorLocation = @OperatorLocation
				,RequestByURL = @RequestByURL
				,RequestURL = @RequestURL
				,website = @website
				,Tel = @Tel
				,skype = @skype
				,facebook = @facebook
			WHERE TourOperatorID = @ID
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 ROLLBACK;
		THROW
	END CATCH
END
GO