SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[GetTourOperator]
(	

)
RETURNS TABLE 
AS
RETURN 
(
SELECT TourOperatorID
      ,OperatorName
      ,ISNULL(Director,N'') AS Director
      ,OperatorLocation
      ,RequestByURL
      ,ISNULL(RequestURL,N'') AS RequestURL
      ,ISNULL(website,N'') AS website
      ,ISNULL(Tel,'') AS Tel
      ,ISNULL(skype,N'') AS skype
      ,ISNULL(facebook,N'') AS facebook
	  ,ISNULL(email,N'') AS email
	  ,ISNULL([Login],N'') [Login]
	  ,ISNULL([Password],N'') [Password]
	  ,ISNULL(AgentID,N'') AgentID
  FROM TourOperator
)