USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION GetLastBonuseCardID
(
)
RETURNS INT
AS
BEGIN
	DECLARE @R INT

	SELECT @R = MAX(CardID) FROM BonuseCard

	RETURN ISNULL(@R,0)

END