USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION GetLasDirectionOperatorCombinationID
(
)
RETURNS INT
AS
BEGIN
	DECLARE @R INT

	SELECT @R = MAX(ID) FROM DirectionOperatorCombination

	RETURN ISNULL(@R,0)

END