USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RentOfPlaceDelete]
	@RentID INT
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM RentOfPlace WHERE RentID = @RentID
END