USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].TelephoneExpenseDelete
	@TelExpID INT
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM TelephoneExpense WHERE TelExpID = @TelExpID
END