USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RentOfPlaceAdd]
	@Fee DECIMAL(12,0), @ForYear SMALLINT, @ForMonth TINYINT
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO RentOfPlace (CreationDate,Fee,ForYear,ForMonth) VALUES(CURRENT_TIMESTAMP,@Fee,@ForYear,@ForMonth)
END