USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].AdvertiseAdd
	@Fee DECIMAL(12,0), @ForYear SMALLINT, @ForMonth TINYINT, @TypeID INT
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO Advertise(CreationDate,Fee,ForYear,ForMonth,TypeID) VALUES(CURRENT_TIMESTAMP,@Fee,@ForYear,@ForMonth,@TypeID)
END