USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetAdvertiseID]
(
)
RETURNS INT
AS
BEGIN
	DECLARE @R INT

	SELECT @R = MAX(AdvertiseID) FROM Advertise

	RETURN ISNULL(@R,0)

END