USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].GetHotelID
(
)
RETURNS INT
AS
BEGIN
	DECLARE @R INT

	SELECT @R = MAX(HotelID) FROM Hotels

	RETURN ISNULL(@R,0)

END