USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetTaxTypes]
(	

)
RETURNS TABLE 
AS
RETURN 
(
	SELECT
		TaxTypeID
		,TaxType
	FROM TaxTypes
)