USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TaxAdd]
	@Fee DECIMAL(12,0), @ForYear SMALLINT, @ForMonth TINYINT, @TaxTypeID INT
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO Tax (CreationDate,Fee,ForYear,ForMonth,TaxTypeID) VALUES(CURRENT_TIMESTAMP,@Fee,@ForYear,@ForMonth,@TaxTypeID)
END