USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TaxTypeAdd]
	@TaxType NVARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO TaxTypes (TaxType) VALUES(@TaxType)
END