USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TaxTypeUpdate]
	@TaxTypeId INT, @TaxType NVARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE TaxTypes
		SET TaxType = @TaxType
	WHERE TaxTypeID = @TaxTypeId
END