USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].GetOfficeExponseID
(
)
RETURNS INT
AS
BEGIN
	DECLARE @R INT

	SELECT @R = MAX(OfficeExponseID) FROM OfficeExponse

	RETURN ISNULL(@R,0)

END