USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[TaxAdd]
	@Fee DECIMAL(12,0), @ForYear SMALLINT, @ForMonth TINYINT, @TaxTypeID INT, @Comment NVARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO Tax (CreationDate,Fee,ForYear,ForMonth,TaxTypeID,Comment) VALUES(CURRENT_TIMESTAMP,@Fee,@ForYear,@ForMonth,@TaxTypeID,@Comment)
END