USE [GT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[RentOfPlaceAdd]
	@Fee DECIMAL(12,0), @ForYear SMALLINT, @ForMonth TINYINT, @Comment NVARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO RentOfPlace (CreationDate,Fee,ForYear,ForMonth,Comment) VALUES(CURRENT_TIMESTAMP,@Fee,@ForYear,@ForMonth,@Comment)
END